In [1]:
#import library yang digunakan
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics

In [2]:
# import dataset
df = pd.read_excel('data_hasil.xlsx')
df.head(5)

,Timestamp,Nama,Usia,Jenis Kelamin,belanja_online_sebulan,belanja_offline_sebulan,pengaruh_ecommerce,toko,cari_produk,banding_harga,Apakah Anda merasa adanya e-commerce telah mengurangi jumlah kunjungan ke toko fisik di lingkungan Anda?,Apakah Anda merasa toko fisik harus melakukan perubahan atau peningkatan tertentu untuk tetap bersaing dengan e-commerce? Jelaskan alasan Anda,Bagaimana pendapat Anda mengenai kemajuan e-commerce yang memengaruhi toko offline?,Apa alasan utama Anda memilih berbelanja online atau offline?
0,2023-10-04 11:13:03.264,Christian Abraham Putra,20,0,1,2,3,0,4,1,Tidak,Punya toko e commerce,Bagus,Tergantung barang apa yang akan sy beli
1,2023-10-04 11:14:43.785,Muammar Qois Al Qorni,20,0,3,2,3,1,3,1,Ya,"ya, agar bisa bersaing",sangat mempengaruhi,efisian waktu dan tempat
2,2023-10-04 11:14:45.298,Rafly Gymnastiar,20,0,2,1,4,0,3,1,Tidak,"Ya, agar terlihat menarik",Bagus,Karena mager
3,2023-10-04 11:17:06.266,Cakra Kusuma Erlangga,21,0,1,2,2,1,4,1,Tidak,Mungkin bisa hybrid oflen bisa onglen bisa,toko offline masih bisa berkembang dengan mena...,"online karena mager, offline karena pingin men..."
4,2023-10-04 11:17:44.663,Shabrina Al Khansa,20,1,3,2,3,1,3,1,Ya,Ya. Agar tidak kalah saing,Kemajuan e-commerce mengancam keberlangsungan ...,"Kemudahan transaksi, hemat waktu, harga yang b..."

In [3]:
df.drop(df.columns[[0,1,2,3,10,11,12,13]], axis=1, inplace=True)
df

,belanja_online_sebulan,belanja_offline_sebulan,pengaruh_ecommerce,toko,cari_produk,banding_harga
0,1,2,3,0,4,1
1,3,2,3,1,3,1
2,2,1,4,0,3,1
3,1,2,2,1,4,1
4,3,2,3,1,3,1
...,...,...,...,...,...,...
98,1,1,2,0,3,1
99,2,2,3,0,3,1
100,2,1,4,1,3,1
101,3,2,3,1,3,1
102,2,3,2,0,2,1

In [4]:
df = df[['belanja_online_sebulan', 'belanja_offline_sebulan', 'pengaruh_ecommerce', 'cari_produk','banding_harga','toko']]
df

,belanja_online_sebulan,belanja_offline_sebulan,pengaruh_ecommerce,cari_produk,banding_harga,toko
0,1,2,3,4,1,0
1,3,2,3,3,1,1
2,2,1,4,3,1,0
3,1,2,2,4,1,1
4,3,2,3,3,1,1
...,...,...,...,...,...,...
98,1,1,2,3,1,0
99,2,2,3,3,1,0
100,2,1,4,3,1,1
101,3,2,3,3,1,1
102,2,3,2,2,1,0

In [5]:
# Pisahkan fitur dan label
X = df[['belanja_online_sebulan', 'belanja_offline_sebulan', 'pengaruh_ecommerce', 'cari_produk','banding_harga']]
y = df['toko']
X

,belanja_online_sebulan,belanja_offline_sebulan,pengaruh_ecommerce,cari_produk,banding_harga
0,1,2,3,4,1
1,3,2,3,3,1
2,2,1,4,3,1
3,1,2,2,4,1
4,3,2,3,3,1
...,...,...,...,...,...
98,1,1,2,3,1
99,2,2,3,3,1
100,2,1,4,3,1
101,3,2,3,3,1
102,2,3,2,2,1

In [6]:
# Split dataset menjadi data test dan train 
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.3, random_state=42)

In [7]:
# Create Decision Tree classifer object
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
 # Support Vector Machine (SVM)
clf = SVC(kernel='linear', C=1, random_state=42)  # Ganti kernel dan parameter sesuai kebutuhan

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# #Predict the response for test dataset
y_pred = clf.predict(X_test)
svm_accuracy = accuracy_score(y_test, y_pred)
print(f'Akurasi SVM: {svm_accuracy * 100:.2f}%')

Akurasi SVM: 74.19%

In [8]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.11      0.20         9
           1       0.73      1.00      0.85        22

    accuracy                           0.74        31
   macro avg       0.87      0.56      0.52        31
weighted avg       0.81      0.74      0.66        31

In [9]:
import pickle
# Simpan model ke file
with open('model.pkl', 'wb') as model_file:
    pickle.dump(clf, model_file)